$skyblue: #38AEF0;
$plane_white: #FFFFFF;
$dark_blue: #253141;
$blue: #2F3E51;
$dark_white: #EEEEEE;
$dark_gray: #333333;
$gray: #999999;
$plane_blue: #38AEF0;
$plen_gray: #FAFAFA;
$navy_blue: #434A54;
$ash: #DDDDDD;
